[Unit]
Description=The Stand health recovery check
Wants=network-online.target
After=network-online.target the-stand.service
Requires=the-stand.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/thestand-health-check.sh
